.search-container {
  width: 30%;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5; /* Lighter background color */
  border-radius: 50px; /* Increased border radius for a more modern look */
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1); /* Increased box shadow for more depth */
}

.search-container input[type="text"] {
  flex: 1;
  padding: 0.7em;
  border: none;
  border-radius: 50px; /* Match border radius of the container */
  outline: none;
  font-size: 1em; /* Larger font size for better readability */
  color: #333; /* Darker text color for better contrast */
}

.search-container button {
  padding: 0.7em 1.5em;
  border: none;
  border-radius: 50px; /* Match border radius of the container */
  background-color: #007BFF; /* Brighter background color for better visibility */
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold; /* Bold text for better visibility */
}

.search-container button:hover {
  background-color: #0056b3; /* Darker background color on hover for better interaction feedback */
}